body
{
margin:0px;
padding:0px;
background-color:#f5f4f4;
}

input[type="radio"],input[type="checkbox"]
{
margin:-3px 10px 0px 0px;
}

input[type="text"],textarea,input[type="password"],select,input[type="file"]
{
margin:0px;
}



#header
{
background-color:#000000;
background:url('../images/design/a1.gif');
background-repeat: repeat-x;
background-position:bottom left;
}

#wrapper
{
background-color:#f5f4f4;
background:url('../images/design/w1.gif');
padding:15px;
}

#content_body
{
padding:20px;
min-height:400px;
}

#content_body p
{
padding-left:6px;
}

#logo
{
margin:15px 0px 0px 20px;
float:left;
}

#menu
{
margin:25px 0px 0px 25px;
clear:both;
}

#menu ul
{
list-style: none;
padding:0px;
margin:0px;
}

#menu ul li
{
float:left;
display:inline;
padding:0px;
margin:0px 0px 5px 0px;
}



#menu li a {
float: left;
background: url(../images/design/menu.png) no-repeat left top;
padding: 0 0 0 7px;
margin-right:5px;
text-decoration:none;
}



#menu li a span {
float: left;
background: url(../images/design/menu2.png) no-repeat right top;
padding: 6px 12px 7px 5px;
color: #ffffff;
font: 14px Arial;
text-shadow: #696969 1px 1px 1px;
}



#menu li a:hover span {
color: #FFFFFF;
font: 14px Arial;
}



#menu li a:hover {
background-position: 0% -32px;
}



#menu li a:hover span {
background-position: 100% -32px;
}







#menu li.activ a {
float: left;
background: url(../images/design/amenu.png) no-repeat left top;
padding: 0 0 0 7px;
margin-right:5px;
text-decoration:none;
}



#menu li.activ a span {
float: left;
background: url(../images/design/amenu2.png) no-repeat right top;
padding: 6px 12px 7px 5px;
color: #ffffff;
font: 14px Arial;
text-shadow: #696969 1px 1px 1px;
}



#menu li.activ a:hover span {
color: #FFFFFF;
font: 14px Arial;
}



#menu li.activ a:hover {
background-position: 0% -32px;
}



#menu li.activ a:hover span {
background-position: 100% -32px;
}







#submenu
{
background-color:#FFFFFF;
padding: 10px 0px 12px 37px;
background:url('../images/design/a2.gif');
background-repeat: repeat-x;
background-position:left bottom;
}

#submenu ul
{
list-style: none;
padding:0px;
margin:0px 0px 0px -20px;
}

#submenu ul li
{
display:inline;
padding:0px 0px 3px 20px;
margin:0px;
background:url(../images/design/a5.gif) left top no-repeat;
}

#submenu ul li.first
{
background:none;
}

#submenu ul li a
{
font: 10pt Arial;
}

#sub_orders,#sub_catalog,#sub_users,#sub_settings,#sub_templates,#sub_pages,#sub_affiliates
{
display:none;
}


#languages
{
margin:15px 80px 0px 25px;
float:right;
}

#logout
{
margin:15px 100px 0px 25px;
display:table;
padding:5px 8px 5px 8px;
background: url(../images/design/transparent.png);
border-radius:2px;
float:right;
}

#logout a,#logout a:visited
{
color:#c0c0c0;
text-decoration:none;
font:9pt Arial;
}

#logout a:hover
{
color:#dad9d9;
text-decoration:none;
font:9pt Arial;
}



#login_error
{
position:absolute;
top:-80px;
left:41px;
background-color:#fdc7cc;
padding:7px;
border:  #fc7e8a 4px solid;
width:200px;
margin:0px auto 0px auto;
text-align:center;
}

#login
{
position:absolute;
top:35%;
left:35%;
width:310px;
}

#login_header
{
padding:17px 25px 17px 25px;
background: url(../images/design/a3.gif) no-repeat left top;
font: 14px Arial;
font-weight:bold;
color:#FFFFFF;
}

#login_footer
{
padding:15px 25px 10px 20px;
background: url(../images/design/a4.gif) no-repeat left bottom;
}


#languages_lite
{
position:absolute;
padding:5px 8px 5px 8px;
background: url(../images/design/transparent.png);
border-radius:2px;
z-index:10000000;
}

#languages_lite2
{
position:absolute;
right:20px;
top:45px;
width:350px;
background-color:#ffffff;
border:  #dedddd 4px solid;
z-index:10000000;
display:none;
}


#languages_lite a,#languages_lite a:visited
{
color:#c0c0c0;
text-decoration:none;
font:9pt Arial;
}

#languages_lite a:hover
{
color:#dad9d9;
text-decoration:none;
font:9pt Arial;
}





#languages_lite span
{
 background:url(../images/design/rbottom.gif) right top no-repeat;
 padding-right:15px;
}

#languages_lite2 span
{
 background:url(../images/design/rtop.gif) right top no-repeat;
 padding-right:15px;
}

#languages_lite2 ul
{
list-style-type: none;
list-style-image: none;
margin:0px;
padding:6px 10px 0px 6px;
}

#languages_lite2 ul li
{
margin:0px;
padding:3px 0px 3px 4px;
float:left;
width:150px;
}

#languages_lite2 ul li:hover
{
background-color:#f5F5F5
}


#languages_lite2 li a,#languages_lite2 li a:visited,#languages_lite2 li a:hover
{
color:#0c7a94;
text-decoration:none;
font: 8pt Arial;
}



#languages_lite2 img
{
margin-right: 7px;
border: #8e8f8f 1px solid;
width:18px;
height:12px;
}

#languages_lite2 img.close
{
position:absolute;
top:3px;
right:0px;
border:0px;
width:13px;
height:13px;
}

#footer
{
height:17px;
}

#footer div
{
text-align:center;
color:#6f6f6f;
}





.tab3{background:#E6E6E6}
.tab5{background:#D6D6D6}



.tabl1{background:#2561A4}
.tabl2{background:#5996D9}
.tabl3{background:#DCDCDC}
.tabl4{background:#E9E9E9}
.tabl5{background:#FFFFFF}
.tabl6{background:#A8A8A8}



.tborder,.tab2
{
margin:0px 0px 7px 0px;
padding:0px;
border: #f5f5f5 4px solid;
border-collapse: collapse;
}

.theader,.tab7
{
background:#0398E4;
background:url('../images/design/x1.gif');
background-repeat:repeat-x;
font: 13px Arial;
color:#FFFFFF;
font-weight:bold;
padding:5px 15px 5px 15px;
text-align:left;
white-space: nowrap;
}

.tcontent,.tab4,.tab6,.tab1
{
padding:15px;
margin:0px;
border-bottom: #ededed 1px solid;
}



.table_admin,.profile_table
{
margin:0px 0px 0px 0px;
padding:0px;
/*border: #f5f5f5 4px solid;*/
border-collapse: collapse;
}

.table_admin th,.profile_table th
{
background:#eaf3ff;
font: 14px Arial;
color:#2e2e2e;
font-weight:medium;
padding:12px 15px 12px 15px;
text-align:left;
white-space: nowrap;
border-bottom: #ddebfd 1px solid;
}

.table_admin th b,.profile_table th b
{
font-weight:normal;
}

.table_admin th a:link,.table_admin th a:visited,.table_admin th a:hover,.profile_table th a:link,.profile_table th a:visited,.profile_table th a:hover
{
font: 13px Arial;
color:#2e2e2e;
}


.table_admin tr,.profile_table tr
{
background-color:#ffffff;
}

.table_admin tr.snd,.profile_table tr.snd
{
background-color:#f7f7f7;
}

.table_admin tr:hover,.profile_table tr:hover
{
background-color:#e9fee8;
}



.table_admin td,.profile_table td
{
padding:15px;
margin:0px;
border-bottom: #ededed 1px solid;
}

.table_admin td a,.profile_table td a
{
font: 13px Arial;
}

.table_admin_inner tr
{
background:none;
}

.table_admin_inner tr td
{
background:none;
padding:5px 5px 5px 0px
border:0px;
}

.table_admin table tr td
{
padding:0px;
}

.table_admin table tr td
{
padding:0px;
}



#actions
{
position:relative;
padding-top:20px;
color:#333333;
}



#actions_link
{
display:inline;
}

#actions_list
{
display:none;
position:absolute;
top:-10px;
left:100px;
z-index:10000000;

background-color:#FFFFFF;
border: #f0f0f0 1px solid;
border-radius: 4px;
}

#actions_list.orders
{
top:10px;
left:130px;
width:170px;
}


#actions_list ul
{
list-style-type: none;
list-style-image: none;
margin:0px;
padding:6px 10px 6px 6px;
}

#actions_list ul li
{
margin:0px;
padding:3px 0px 3px 4px;
}

#actions_list ul li:hover
{
background-color:#f5F5F5
}


#actions_list li a,#actions_list li a:visited,#actions_list li a:hover
{
text-decoration:none;
font: 9pt Arial;
white-space: nowrap;
}




#actions_list img.close
{
position:absolute;
top:3px;
right:5px;
border:0px;
width:13px;
height:13px;
}




.admin_field
{
margin:0px 0px 20px 6px;
}

.admin_field span
{
display:block;
margin-bottom:3px;
font-weight:bold;
}


.back
{
margin-bottom:10px;
}


#catalog_menu,.warning
{
background-color:#f6f6f6;
padding:12px 15px 2px 15px;
margin: 20px 6px 20px 6px;
border: #f0f0f0 1px solid;
border-radius: 4px;
clear:both;
}

.toleft
{
float:left;
margin:0px 15px 15px 0px;
}

.toleft_clear
{
clear:both;
}

#catalog_menu span
{
display: block;
font: 9pt Arial;
font-weight: bold;
}



a:link,a:visited {color: #0074AF;text-decoration: underline;}
a:active,a:hover {color: #0074AF;text-decoration: underline;}

A.red:link,A.red:visited {color: #D80005;text-decoration: underline;}
A.red:active,A.red:hover {color: #D80005;text-decoration: underline;}

A.green:link,A.green:visited {color: #00A944;text-decoration: underline;}
A.green:active,A.green:hover {color: #00A944;text-decoration: underline;}

A.black:link,A.black:visited {color: #000000;text-decoration: underline;}
A.black:active,A.black:hover {color: #000000;text-decoration: underline;}

A.orange:link,A.orange:visited {color: #FE7800;text-decoration: underline;}
A.orange:active,A.orange:hover {color: #FE7800;text-decoration: underline;}

A.gray:link,A.gray:visited {color: #A3A3A3;text-decoration: underline;}
A.gray:active,A.gray:hover {color: #A3A3A3;text-decoration: underline;}

A.g:link,A.g:visited {color: #A3A3A3;text-decoration: none; font: 7.4pt Tahoma;}
A.g:active,A.g:hover {color: #A3A3A3;text-decoration: none; font: 7.4pt Tahoma;}

A.o:link,A.o:visited {color: #FE7800;text-decoration:underline;}
A.o:active,A.o:hover {color: #FE7800;text-decoration:underline;}

A.w:link,A.w:visited {color: #FFFFFF;text-decoration:underline;font-weight: bold}
A.w:active,A.w:hover {color: #FFFFFF;text-decoration:underline;font-weight: bold}

A.gg:link,A.gg:visited {color: #919B9C;text-decoration: none;font-weight: bold}
A.gg:active,A.gg:hover {color: #919B9C;text-decoration: none;font-weight: bold}



A.sortmenu:link,A.sortmenu:visited {color: #4673A6;text-decoration: none;background-color:#E8F0F6;padding:5px;font-weight:bold;margin:1px}
A.sortmenu:active,A.sortmenu:hover {color: #FFFFFF;text-decoration: none;background-color:#FE7800;padding:5px;font-weight:bold;margin:1px}

A.asortmenu:link,A.asortmenu:visited {color: #FFFFFF;text-decoration: none;background-color:#FE7800;padding:5px;font-weight:bold;margin:1px}
A.asortmenu:active,A.asortmenu:hover {color: #FFFFFF;text-decoration: none;background-color:#FE7800;padding:5px;font-weight:bold;margin:1px}



body,td,p,ul,tr {color: #000000; font: 9pt Arial;}
font,span{font: 9pt Arial;}
b,strong{font-weight:bold;}
ul{list-style-image:url("/images/marker.gif");}
li{margin:5}
img{margin:0}

h1{color: #2b2b2b; font: 20px Arial; font-weight: bold;margin-top:0px;margin-left:6px}
h2{color: #2b2b2b; font: 14px Arial; font-weight: bold;margin-left:6px}


.smalltext{color: #505050; font: 7.4pt Verdana;}
.price{color: #1b1b1b;font-weight: bold;font: 13px Arial;}



.box
{
background-color:#f6f6f6;
padding:10px;
margin: 20px 0px 20px 0px;
border: #f0f0f0 1px solid;
border-radius: 4px;
}
.box2{}

.box3{background:url('../images/design/x5.gif');background-repeat: no-repeat;padding-left:18px;font: 9.4pt Tahoma;font-weight:bold;color:#000000;padding-top:3px;padding-bottom:4px;margin-bottom:4px}









.ww{color: #FFFFFF;font-weight: bold;padding-left:30;}
.mn{padding-bottom:5;font-weight: bold;}
.bgblue{background-color:#66A0CE;color: #FFFFFF;font-weight: bold;padding-left:10;}
.bggray{background-color:#F5F5F5;padding-left:10;}
.bggreen{background-color:#77C27C;padding-left:10;color: #FFFFFF;font-weight: bold;}




.theader A:link,.theader A:visited,.theader A:hover,.theader A:active{color:#FFFFFF}

a.paging
{
BORDER: #f0f0f0	 1px solid;
background-color:#FAFAF9;
padding:5px 8px 5px 8px;
text-decoration:none;
color:#a7a7a7;
border-radius: 2px;
}

a.paging:hover
{
BORDER: #3e74af 1px solid;
background-color:#FAFAF9;
padding:5px 8px 5px 8px;
text-decoration:none;
color:#3e74af;
border-radius: 2px;
}


.paging2
{
BORDER: #3e74af 1px solid;
background-color:#FAFAF9;
padding:5px 8px 5px 8px;
text-decoration:none;
color:#3e74af;
border-radius: 2px;
}


A.1:link { color:#FFFFFF;text-decoration: none }
A.1:visited { color:#FFFFFF;text-decoration: none}
A.1:hover { color:#FFFFFF;text-decoration: none}

A.2:link { color:#000000;text-decoration: none }
A.2:visited { color:#000000;text-decoration: none}
A.2:hover { color:#000000;text-decoration: none}

A.3:link { color:#999999;text-decoration: underline }
A.3:visited { color:#999999;text-decoration: underline}
A.3:hover { color:#F98700;text-decoration: underline}



.r1{color:#FFFFFF; font-size:9.4pt;font-family:tahoma;font-weight:bold}
.r2{color:#FFFFFF; font-size:7.4pt;font-family:tahoma;font-weight:medium}
.r3{color:#FFFFFF; font-size:8.4pt;font-family:tahoma;font-weight:bold;}
.r4{color:#333333; font-size:10pt;font-family:tahoma;font-weight:bold}
.r5{color:#999999; font-size:8.4pt;font-family:tahoma;}

.f{color:#858585; font-size:8.4pt;font-family:verdana,arial;font-weight:bold}
.f2{color:#898989; font-size:8.4pt;font-family:tahoma;font-weight:bold}
.f3{color:#146B77; font-size:8.4pt;font-family:tahoma;font-weight:medium}


.b_input{border-color: #000000; border-width:1;border-style:groove}
.ya{border-color:white;border-style:groove; border-width:thin; }



.content_preview
{
float:right;
padding:5px;
}





/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/

#light_box{padding:10px; background:#fff;width:500px}

#colorbox{position:absolute; top:100px; left:0; z-index:10000000000000000000000; overflow:hidden;}
#cboxOverlay, #cboxWrapper{position:absolute; top:0px; left:0; z-index:100000000000000000000000; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:url(../images/overlay.png) 0 0 repeat;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/controls.png) -100px 0 no-repeat;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/controls.png) -129px 0 no-repeat;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/controls.png) -100px -29px no-repeat;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/controls.png) -129px -29px no-repeat;}
    #cboxMiddleLeft{width:21px; background:url(../images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{margin-bottom:0px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0px; background:url(../images/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) center center no-repeat;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; top:0; right:0; background:url(../images/controls.png) -25px 0px no-repeat;  width:25px; height:25px;text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}



.list_steps ul li 
{
margin-bottom:5px;
}










#tabs_menu_content
{
clear:both;
padding:20px 0px 0px 6px;
}


#tabs_menu {
margin:0px 0px 0px 6px;
padding:0px 0px 3px 0px;
clear:both;
}

#tabs_menu ul {
list-style: none;
padding:0px;
margin:0px
}

#tabs_menu li {
display:inline;
padding:0px;
margin:0px;
}

#tabs_menu li a,#tabs_menu li a:visited {
float: left;
padding: 5px 7px 5px 7px;
text-decoration:none;
background-color:#a3a3a3;
margin-right:5px;
margin-bottom:5px;
color:#FFFFFF;
font:14px Verdana;


}

#tabs_menu li a:hover {
text-decoration:none;
background-color:#b7b6b6;
color:#FFFFFF;
font:14px Verdana;


}





#tabs_menu li.activno a,#tabs_menu li.activno a:visited {
float: left;
padding: 5px 7px 5px 7px;
text-decoration:none;
background-color:#424141;
margin-right:5px;
color:#FFFFFF;
font:14px Verdana;


}

#tabs_menu li.activno a:hover {
text-decoration:none;
background-color:#636363;
color:#FFFFFF;
font:14px Verdana;


}


.content_exif
{
padding:20px;
}






.login_header
{
border-bottom: 1px #a3a4a7 dotted;
margin-bottom:15px;
}

.login_header h2
{
margin:0px 0px 3px 0px;
}

.form_field
{
margin:0px 0px 15px 6px;
}

.form_field span
{
margin-bottom:3px;
display:block;
}

.payment_table
{
width:100%;
}

.payment_table td
{
padding: 5px;
}

.payment_table th
{
background-color:#eeeeee;
color:#42433e;
font: 13px Arial;
font-weight:bold;
padding: 5px;
text-align:left;
}

.payment_table tr
{
vertical-align: top;
}

.payment_table2
{
width:100%;
}

.payment_table2 td
{
padding: 5px 20px 20px 0px;
font: 12px Arial;
}

.subheader
{
padding:10px;
font: 15px Arial;
font-weight:bold;
color:#42433e;
background-color:#f7f7f7;
border-bottom: 2px #eeeeee solid;
margin-bottom:10px;
clear:both;
}

.subheader_text
{
padding:10px;
margin-bottom:10px;
}

.box_stats
{
background-color:#f7f7f7;
border: #eeeeee 2px solid;
border-radius: 4px;
padding:15px;
width:200px;
margin-left:300px
}

.box_stats div
{
margin-bottom:5px;
}

.error
{
color:red;
}

.ok
{
color:green;
}

.color_set
{
padding-top:5px;
}

.box_color
{
padding:4px 8px 3px 8px;
display:inline;
margin:0px 2px 0px 1px;
border: #f3f1f1 1px solid;
cursor:pointer;
}

.box_color2
{
padding:4px 8px 3px 8px;
display:inline;
margin:0px 1px 0px 0px;
border: #000000 2px solid;
cursor:pointer;
}


.bl {background: url(../images/design/m_bl.gif) 0 100% no-repeat;}
.br {background: url(../images/design/m_br.gif) 100% 100% no-repeat}
.tl {background: url(../images/design/m_tl.gif) 0 0 no-repeat}
.tr {background: url(../images/design/m_tr.gif) 100% 0 no-repeat; padding:10px}
.t {background: url(../images/design/m_border_t.gif) 0 0 repeat-x;background-color:#fefefe;display:table;}
.b {background: url(../images/design/m_border_b.gif) 0 100% repeat-x}
.l {background: url(../images/design/m_border_l.gif) 0 0 repeat-y}
.r {background: url(../images/design/m_border_r.gif) 100% 0 repeat-y}


.page_bl {background: url(../images/design/page_bl.gif) 0 100% no-repeat;}
.page_br {background: url(../images/design/page_br.gif) 100% 100% no-repeat}
.page_tl {background: url(../images/design/page_tl.gif) 0 0 no-repeat}
.page_tr {background: url(../images/design/page_tr.gif) 100% 0 no-repeat; padding:20px}
.page_t {background: url(../images/design/page_border_t.gif) 0 0 repeat-x;background-color:#ffffff;display:block;}
.page_b {background: url(../images/design/page_border_b.gif) 0 100% repeat-x}
.page_l {background: url(../images/design/page_border_l.gif) 0 0 repeat-y}
.page_r {background: url(../images/design/page_border_r.gif) 100% 0 repeat-y}


.table_bl {background: url(../images/design/table_bl.gif) 0 100% no-repeat;}
.table_br {background: url(../images/design/table_br.gif) 100% 100% no-repeat}
.table_tl {background: url(../images/design/table_tl.gif) 0 0 no-repeat}
.table_tr {background: url(../images/design/table_tr.gif) 100% 0 no-repeat; padding:6px}
.table_t {background: url(../images/design/table_border_t.gif) 0 0 repeat-x;background-color:#ffffff;display:table;}
.table_t2 {background: url(../images/design/table_border_t.gif) 0 0 repeat-x;background-color:#ffffff;display:block;}
.table_b {background: url(../images/design/table_border_b.gif) 0 100% repeat-x}
.table_l {background: url(../images/design/table_border_l.gif) 0 0 repeat-y}
.table_r {background: url(../images/design/table_border_r.gif) 100% 0 repeat-y}



.big
{
font:15px Arial;
}

.gray
{
color:#7e7e7e;
}

#new_box
{
padding:5px 0px 0px 5px;
}

#new_box h2
{
margin:0px;
}

.link_delete
{
background:url('../images/design/remove.png');
background-repeat:no-repeat;
padding:0px 0px 13px 25px;

}

.link_edit
{
background:url('../images/design/modify.png');
background-repeat:no-repeat;
padding:0px 0px 13px 30px;

}

.link_preview
{
background:url('../images/design/preview.png');
background-repeat:no-repeat;
padding:0px 0px 13px 30px;

}

.link_stats
{
background:url('../images/design/stats.png');
background-repeat:no-repeat;
padding:0px 0px 13px 30px;
}

.link_user
{
background:url('../images/design/user.png');
background-repeat:no-repeat;
padding:0px 0px 13px 30px;
}

.link_payment
{
background:url('../images/design/payment.png');
background-repeat:no-repeat;
padding:0px 0px 13px 30px;
}

.link_file
{
background:url('../images/design/file.png');
background-repeat:no-repeat;
padding:0px 0px 13px 30px;
}

.link_order
{
background:url('../images/design/order.png');
background-repeat:no-repeat;
padding:0px 0px 13px 30px;
}

.link_status
{
background:url('../images/design/status.png');
background-repeat:no-repeat;
padding:0px 0px 13px 25px;
}

.link_payout
{
background:url('../images/design/payout.png');
background-repeat:no-repeat;
padding:0px 0px 13px 30px;
}

.link_exam
{
background:url('../images/design/exam.png');
background-repeat:no-repeat;
padding:0px 0px 13px 17px;
}

.link_email
{
background:url('../images/design/email.png');
background-repeat:no-repeat;
padding:0px 0px 13px 26px;
}

.link_message
{
background:url('../images/design/message.png');
background-repeat:no-repeat;
padding:0px 0px 13px 26px;
}

.link_ip
{
background:url('../images/design/ip.png');
background-repeat:no-repeat;
padding:0px 0px 13px 26px;
}

.link_lightbox
{
background:url('../images/design/lightbox.png');
background-repeat:no-repeat;
padding:0px 0px 13px 26px;
}



.preview_img img
{
border: #919090 1px solid;
}

#button_bottom_static
{
height:50px;
}

#button_bottom_layout
{
position:fixed;
left:0px;
bottom:0px;
width:0px;
height:0px;
z-index:9;
display:none;
background:url('../images/design/bottom.png');
border-top-right-radius:3px;
border-bottom-right-radius:3px;
border-top: 1px #e2e2e2 solid;
border-right: 1px #e2e2e2 solid;
border-bottom: 1px #e2e2e2 solid;
}

#button_bottom
{
padding-left:7px
}

.right_point
{
margin:0px 0px 7px 0px;
white-space: nowrap;
}









.bulk_header
{
width:700px;
margin:20px 6px 15px 0px;
padding:7px;
border-top: 1px #a3a4a7 dotted;
border-bottom: 1px #a3a4a7 dotted;
}

a.link_paypal:link,a.link_paypal:hover,a.link_paypal:visited,.text_paypal
{
color: #FFFFFF;
text-decoration: none;
padding:1px 5px 1px 5px;
background-color:#e6464a;
border-radius:2px;
margin-bottom:3px;
}

a.link_paypal:hover
{
background-color:#d73337;
}

a.link_moneybookers:link,a.link_moneybookers:hover,a.link_moneybookers:visited,.text_moneybookers
{
color: #FFFFFF;
text-decoration: none;
padding:1px 5px 1px 5px;
background-color:#5ac42c;
border-radius:2px;
margin-bottom:3px;
}

a.link_moneybookers:hover
{
background-color:#4db41f;
}



a.link_dwolla:link,a.link_dwolla:hover,a.link_dwolla:visited,.text_dwolla
{
color: #FFFFFF;
text-decoration: none;
padding:1px 5px 1px 5px;
background-color:#8f33d7;
border-radius:2px;
margin-bottom:3px;
}

a.link_dwolla:hover
{
background-color:#8428ca;
}


a.link_qiwi:link,a.link_qiwi:hover,a.link_qiwi:visited,.text_qiwi 
{
color: #FFFFFF;
text-decoration: none;
padding:1px 5px 1px 5px;
background-color:#fd9d05;
border-radius:2px;
margin-bottom:3px;
}

a.link_qiwi:hover
{
background-color:#e79006;
}

a.link_webmoney:link,a.link_webmoney:hover,a.link_webmoney:visited,.text_webmoney 
{
color: #FFFFFF;
text-decoration: none;
padding:1px 5px 1px 5px;
background-color:#0680e7;
border-radius:2px;
margin-bottom:3px;
}

a.link_webmoney:hover
{
background-color:#0372cf;
}


a.link_bank:link,a.link_bank:hover,a.link_bank:visited,.text_bank
{
color: #FFFFFF;
text-decoration: none;
padding:1px 5px 1px 5px;
background-color:#fe6509;
border-radius:2px;
margin-bottom:3px;
}

a.link_bank:hover
{
background-color:#fd8f00;
}

a.link_other:link,a.link_other:hover,a.link_other:visited,.text_other
{
color: #FFFFFF;
text-decoration: none;
padding:1px 5px 1px 5px;
background-color:#a66124;
border-radius:2px;
margin-bottom:3px;
}

a.link_other:hover
{
background-color:#905018;
}

.small_text
{
font:11px Arial;
color: #929192;
}

.modal_header
{
color:#000000;
font:15px Arial;
margin:6px 6px 15px 6px;
padding:0px 0px 5px 0px;
border-bottom:  #818180 1px dotted;
}

#regions_list
{
width:600px;
height:600px;
border:  #e3e1e1 2px solid;
overflow-y: scroll;
margin-top:10px;
padding:10px;
}

#regions_list div
{
font:13px Arial;
margin-bottom:3px;
}

.dollar_percent
{
display:inline;
font:14px Arial;
color:#a2a1a1;
}

.dollar_percent2
{
display:inline;
}

table.ranges td
{
padding:0px 5px 2px 0px
}



table.profile_table_home
{
width:100%px;
margin:0px 10px 0px 10px;
}


table.profile_table_home th
{
padding:10px;
font:16px Arial;
float:left;
color:#555555;
}


table.profile_table_home tr
{

}



table.profile_table_home td
{
padding:10px;
border-top: 1px #d7d7d7 dotted;
}


.gr
{
color:#9f9e9e;
}

.description
{
padding:12px;
margin:0px 0px 20px -12px;
background-color:#fefae9;
font:13px Arial;
border: 1px #fff5cf solid;
color:#3d3d3d;
border-radius:4px;
}



a.btn:link,a.btn:hover,a.btn:visited
{
color:#333333;
text-decoration:none;
}

a.btn-primary:link,a.btn-primary:hover,a.btn-primary:visited,
a.btn-success:link,a.btn-success:hover,a.btn-success:visited,
a.btn-info:link,a.btn-info:hover,a.btn-info:visited,
a.btn-warning:link,a.btn-warning:hover,a.btn-warning:visited,
a.btn-danger:link,a.btn-danger:hover,a.btn-danger:visited,
a.btn-inverse:link,a.btn-inverse:hover,a.btn-inverse:visited
{
color:#FFFFFF;
text-decoration:none;
}



.toright
{
float:right;
margin: 0px 6px 0px 3px;
}

ul.dropdown-menu li a:link,ul.dropdown-menu li a:hover,ul.dropdown-menu li a:visited
{
text-decoration:none;
}

.graphic_home span
{
background:none;
font-weight:normal;
}


#login_footer input
{
height:30px
}

.rights_point
{
margin-bottom:6px;
}


ul.nav-tabs li a
{
font:14px Arial;
}


.clear
{
clear:both;
}
