body
{
background-color:#FFFFFF;
margin:0px;
padding:0px;
background:url('images/a1.gif');
background-repeat:repeat-x;
text-align:center
}

body * { 
  text-align: left; 
}

body,td,p,ul 
{
color: #000000; 
font: 9pt Arial;
}

b,strong{font-weight:bold;}

h1
{
color: #2a3333; 
font: 17pt Arial; 
font-weight: bold;
margin-top:0px
}

h2
{
color: #2a3333; 
font: 11pt Arial;
font-weight: bold
}

input[type="radio"],input[type="checkbox"]
{
margin:-2px 8px 0px 0px;
}

a:link,a:visited {color: #0a82aa;text-decoration: underline;}
a:active,a:hover {color: #FE7800;text-decoration: underline;}

a.sortmenu:link,a.sortmenu:visited {color: #0a82aa;text-decoration: none;background-color:#E8F0F6;padding:5px;font-weight:bold;margin:1px}
a.sortmenu:active,a.sortmenu:hover {color: #FFFFFF;text-decoration: none;background-color:#FE7800;padding:5px;font-weight:bold;margin:1px}

a.asortmenu:link,a.asortmenu:visited {color: #FFFFFF;text-decoration: none;background-color:#FE7800;padding:5px;font-weight:bold;margin:1px}
a.asortmenu:active,a.asortmenu:hover {color: #FFFFFF;text-decoration: none;background-color:#FE7800;padding:5px;font-weight:bold;margin:1px}

.container-fluid
{
padding:0px;
margin:0px;
}

#logo
{
margin:46px 0px 50px 32px;
}

#logo img,#logo-mobile img
{
border:0px;
width:319px;
height:37px;
}


#logo-mobile
{
margin:0px 0px 34px 32px;
}

#logo-mobile div
{
float:left;
margin:4px 4px 0px 0px;
}

#login_box
{
width:320px;
height:210px;
}

#login_box a:link,#login_box a:visited
{
color: #505050;
text-decoration:underline;
}

#login_box a:hover
{
color: #cc3333;
text-decoration:underline;
}


#login_box form
{
margin:0px;
padding:0px;
}

#login_box span
{
display:block;
font-weight:bold;
}

#login_box input
{
display:block;
margin:3px 0px 12px 0px;
}

#login_box_content
{
position:absolute;
top:55px;
left:20px;
}

#login_box_content
{
position:absolute;
top:55px;
left:20px;
}

#login_box_social
{
position:absolute;
top:55px;
right:20px;
}

ul.menu_members
{
list-style-type: none;
list-style-image: none;
margin:0px 0px 0px 20px;
padding:0px;
}

ul.menu_members li
{
float:left;
padding-left:10px;
margin:7px 12px 0px 0px;
background:url('images/rleft.gif');
background-repeat:no-repeat;
background-position:0px 2px;
color:#626260;
}

ul.menu_members li a:link,ul.menu_members li a:visited,#shopping_cart_lite a:link,#shopping_cart_lite a:visited
{
color:#333333;
}

ul.menu_members li a:hover,#shopping_cart_lite a:hover
{
color:#686868;
}


#shopping_cart_lite
{
color:#626260;
white-space: nowrap;
padding-top:8px;
}

#top_mobile
{
margin:0px 0px 0px 20px;
clear:both;
}

#top_mobile ul
{
list-style-type: none;
list-style-image: none;
padding: 0px;
margin:0px;
}

#top_mobile ul li
{
display:block;
float:left;
padding:5px 10px 5px 10px;
border-right: 1px dotted #4b4b4b;
white-space: nowrap;
}

#top_mobile ul li.first
{
border-left: 1px dotted #4b4b4b;
}

#top_mobile a:link,#top_mobile a:hover,#top_mobile a:visited
{
color:#f5f5f5;	
text-decoration:none;
}



#box_search
{
margin-top:47px;
width:388px;
height:31px;
background:url('images/a56.gif');
background-repeat:no-repeat;
position:relative;
}

#box_search form
{
margin:0px;
padding:0px;
}

#box_search input
{
border:0px;
box-shadow: none;
}

.ibox_search
{
position:absolute;
top:0px;
left:0px;
width:240px;
float:left;
padding:9px 5px 12px 15px;
color:#535353;
font: 10pt Arial;
}


.ibox_search_submit{
position:absolute;
top:0px;
right:0px;
background:url('images/e.gif');
color:#FFFFFF;
font: 9pt Arial;
width:34px;
height:31px;
margin:0px;
text-align:center;
}


.search_menu
{
position:absolute;
top:0px;
left:260px;
background-color:#efefef;
height:31px;
white-space:nowrap;
float:left;
}

.search_menu div
{
padding: 8px 5px 0px 10px;
}

.search_menu a:link,.search_menu a:hover,#search_menu a:visited
{
color:#35352e;
font: 8pt Arial;
text-decoration:underline;
}

.search_menu span
{
 background:url(images/rbottom2.gif) right top no-repeat;
 padding-right:15px;
}


#search_menu_content
{
position: absolute;
top:33px;
left:260px;
width:100px;
z-index: 10000000;
border: #ecebeb 1px solid;
background-color:#ffffff;
display:none;
}


#search_menu_content label
{
margin:0px;
padding:0px 0px 0px 6px;
display:inline;
}

#search_menu_content input
{
margin-top:-1px;
}


#search_menu_content ul
{
list-style-type: none;
list-style-image: none;
margin:3px 7px 3px 7px;
padding:0px;
}

#search_menu_content ul li
{
margin:0px;
padding:4px 0px 4px 4px;
}

#search_menu_content ul li:hover
{
background-color:#F5f5F5
}

#search_menu_content ul li label
{
font: 8pt Arial;
color: #0c7a94;
}

.home_body
{
padding:30px 0px 0px 27px
}

.content_body
{
padding:20px 0px 0px 27px;
min-height:300px;
}

.home_content
{
width:995px
}


#fadeshow1
{
z-index:1;
}

.component{margin:5px}



#footer
{
clear:both;
padding-bottom:70px;
padding-top:30px;
padding-left:25px;
margin-top:30px;
background-color:#F5F5F5;
border-top: #f1efef 1px solid;
}

#footer ul
{
list-style-type: none;
list-style-image: none;
padding: 0px;
margin:0px;
}

#footer ul li
{
display:block;
float:left;
padding:0px 0px 10px 0px;
}






.sitem{background-color:#FFFFFF;padding:7px}

.price{color:#333232;font: 10pt Arial;font-weight:bold}
.date{color:#0071B2;}
.datenews{color:#747474;font: 9pt Arial;}
.error{color:red;}
.ok{color:green;}







A.tg1:link,A.tg1:visited {color: #0a82aa;text-decoration: underline;font-size:12pt;padding:2px;margin:3px}
A.tg1:active,A.tg1:hover {color: #ffffff;background-color:#0a82aa;text-decoration: none;font-size:12pt;padding:2px;margin:3px}

A.tg2:link,A.tg2:visited {color: #0a82aa;text-decoration: underline;font-size:14pt;padding:2px;margin:3px}
A.tg2:active,A.tg2:hover {color: #ffffff;background-color:#0a82aa;text-decoration: none;font-size:14pt;padding:2px;margin:3px}

A.tg3:link,A.tg3:visited {color: #0a82aa;text-decoration: underline;font-size:16pt;padding:2px;margin:3px}
A.tg3:active,A.tg3:hover {color: #ffffff;background-color:#0a82aa;text-decoration: none;font-size:16pt;padding:2px;margin:3px}

A.tg4:link,A.tg4:visited {color: #0a82aa;text-decoration: underline;font-size:18pt;padding:2px;margin:3px}
A.tg4:active,A.tg4:hover {color: #ffffff;background-color:#0a82aa;text-decoration: none;font-size:18pt;padding:2px;margin:3px}



.blogmenu{color: #000000; font: 9pt Arial;font-weight:bold}
.grayfont{color: #747474; font: 9pt Arial;}
.lightfont{color: #FE7800; font: 9pt Arial;}

A.blog:link,A.blog:visited {color: #0a82aa;text-decoration: underline;font: 9.4pt Arial;font-weight:bold}
A.blog:active,A.blog:hover {color: #0a82aa;text-decoration: underline;font: 9.4pt Arial;font-weight:bold}

previewbg{background-color:#FFFFFF;}





a.paging:link,a.paging:visited
{
border: #168da9 1px solid;
padding:1px;
background-color:#FAFAF9;
padding:5px;
text-decoration:none;
color:#168da9
}

a.paging:hover
{
border: #168da9 1px solid;
padding:1px;
background-color:#168da9;
padding:5px;
text-decoration:none;
color:#FFFFFF
}


.paging2
{
border: #168da9 1px solid;
padding:1px;
background-color:#168da9;
padding:5px;
text-decoration:none;
color:#FFFFFF
}

.ibox {
font: 14px Arial;
padding:5px;
border:#d0d0d0 solid 1px;
background: #FFFFFF;
border-radius:3px;
background:url('images/c14.gif') left top repeat-x;
}
.ibox:focus {
border:#7b7b7b solid 1px;
} 





.ibox_ok {
font: 14px Arial;
padding:5px;
border:#a8a8a8 solid 1px;
background: #C3FFBB;
border-radius:3px;
}
.ibox_ok:focus {
	border:#686868 solid 1px;
} 





.ibox_error {
font: 14px Arial;
padding:5px;
border:#dd0101 solid 1px;
background: #FFAABB;
border-radius:3px;
}
.ibox_error:focus {
	border:#dd0101 solid 1px;
} 




.isubmit {
font:14px Arial;
letter-spacing: 0.5px;
padding:5px 15px 5px 15px;
background-color:#0c7a94;
background:url('images/button.gif') left top repeat-x;
border: 1px double #448944;
color: #FFFFFF;
border-radius: 4px;
text-shadow: 0px -1px 1px #676767;
cursor:pointer;
}

.isubmit:hover{
background:url('images/button.gif') 0px -35px repeat-x;
}








.isubmit_orange,.profile_button {
font:14px Arial;
letter-spacing: 0.5px;
padding:5px 15px 5px 15px;
background-color:#0c7a94;
background:url('images/button_red.gif') left top repeat-x;
border: 1px double #c34641;
color: #FFFFFF;
border-radius: 4px;
text-shadow: 0px -1px 1px #676767;
cursor:pointer;
}

.isubmit_orange:hover,.profile_button:hover{
background:url('images/button_red.gif') 0px -35px repeat-x;
}

.profile_button
{
float:right
}


.add_to_cart {
font:14px Arial;
letter-spacing: 0.5px;
padding:5px 15px 5px 15px;
background-color:#0c7a94;
background:url('images/button_blue.gif') left top repeat-x;
border: 1px double #2e82b8;
color: #FFFFFF;
border-radius: 4px;
text-shadow: 0px -1px 1px #505050;
cursor:pointer;
}

.add_to_cart:hover{
background:url('images/button_blue.gif') 0px -35px repeat-x;
}








.item_list { 
display: block;
width: 120px;
margin-right: 10px;
position: relative;
float: left;
}






.item_list_img
{
display: block;
width: 120px;
height: 120px;
position: relative;
}

.item_list_img img { 
position: absolute;
left: 0px;
bottom: 0px;
border: 1px #e0e0e0 solid;
}

.item_list_img a:hover img {
border: 1px #5e5e5e solid;
}


.item_list_text1 { 
width: 120px;
height: 80px;
padding-top: 3px;
	background:url('images/iphoto.gif');
	background-repeat:no-repeat;

}
.item_list_text2 { 
width: 120px;
height: 80px;
padding-top: 3px;
	background:url('images/ivideo.gif');
	background-repeat:no-repeat;

}
.item_list_text3 { 
width: 120px;
height: 80px;
padding-top: 2px;
	background:url('images/iaudio.gif');
	background-repeat:no-repeat;

}
.item_list_text4 { 
width: 120px;
height: 80px;
padding-top: 2px;
	background:url('images/ivector.gif');
	background-repeat:no-repeat;

}

.item_list_text1 a,.item_list_text2 a,.item_list_text3 a,.item_list_text4 a
{
margin-left:17px;
text-decoration:none;
}

.iviewed
{
	background:url('images/iviewed.gif');
	background-repeat:no-repeat;
color: #aeadad;
font: 8pt Arial;
float:left;
padding-left:18px;
padding-right:10px;
display:inline
}

.idownloaded
{
	background:url('images/idownloaded.gif');
	background-repeat:no-repeat;
color: #aeadad;
font: 8pt Arial;
padding-left:11px;
display:inline
}


A.ac:link,A.ac:visited {color: #878787;margin-left:0px;text-decoration:underline;font: 8pt Arial;}
A.ac:active,A.ac:hover {color: #878787;margin-left:0px;text-decoration:underline;font: 8pt Arial;}


A.ac2:link,A.ac2:visited {color: #d61e22;margin-left:0px;text-decoration:underline;font: 8pt Arial;}
A.ac2:active,A.ac2:hover {color: #d61e22;margin-left:0px;text-decoration:underline;font: 8pt Arial;}

.ac_text{color: #878787;font: 8pt Arial;}

.warning{background-color:#FCE4A9;border: #F7B441 1px solid;padding:9px}


.upload_ok{background-color: #C3FFBB;}
.upload_error{background-color: #FEC4D0;}













.framestyle_buyer{border:  2px solid #A7A7A7;width:700px;height:800px;background-image:none;text-align:left}
.framestyle_seller{border:  2px solid #A7A7A7;width:700px;height:800px;background-image:none;text-align:left}
.framestyle_terms{border:  2px solid #A7A7A7;width:600px;height:150px;background-image:none;text-align:left}
.framebody{background-color:#FFFFFF;margin:10px;background-image:none;text-align:left}









.tr h2
{
color: #2f2f2f; font: 11pt Arial;
margin-top:0px;
margin-bottom:8px;
font-weight:bold;
}





#tabs {
margin:0px 0px 0px 15px;
padding:0px;
clear:both;
}

#tabs ul {
list-style: none;
padding:0px;
margin:0px
}

#tabs li {
display:inline;
padding:0px;
margin:0px;
}

#tabs a {
float: left;
padding: 0px 5px 0px 15px;
text-decoration:none;
cursor:hand;
}

#tabs a span {
float: left;
background: url(images/s9.gif) repeat-x right top;
padding: 6px 13px 10px 0px;
color: #0a82aa;
font: 10pt Arial;
font-weight:bold;
}

#tabs a:hover span {
color: #FE7800;
background: url(images/s10.gif) repeat-x right top;
}



#tabs li.tact {
float: left;
color: #FFFFFF;
background: url(images/s7.gif) no-repeat left top;
padding: 0px 0px 0px 0px;
}

#tabs li.tact span {
float: left;
background: url(images/s8.gif) no-repeat right top;
padding: 6px 13px 10px 0px;
color: #FFFFFF;
font: 10pt Arial;
font-weight:bold
}


#tabs li.tact a:hover span {
color:#FFFFFF;
background: url(images/s8.gif) no-repeat right top;
}



#tabs_content{
clear:both;
margin:0px 0px 0px 25px;
padding-top:15px;
height:200px;

}



A.tabs_home_link img{border: #FFFFFF 2px solid;width:76px;height:76px;}
A.tabs_home_link:hover img {border: #0c7a94 2px solid;width:76px;height:76px;}

.component_table
{
background-color:white;
}



.home_tags
{
padding-left:11px;
padding-right:20px;
text-align:center
}

.home_text
{
margin:0px 15px 0px 25px
}

.home_text p
{
color: #414141; font: 11pt Arial;
}


.home_text h1
{
color: #2a3333; font: 14pt Arial;
}


.box_stat
{
color: #8e8f8f; font: 10pt Arial;
padding-bottom:3px
}


.box_stat span
{
color: #9ed61d; font: 11pt Arial;
}

.box_photographer
{
padding-bottom:6px
}

.box_photographer a
{
font: 10pt Arial;
}

.box_photographer span
{
font: 9pt Arial;
color: #b8babc;
font-weight:bold;
padding-left:10px
}







div.sc_menu {
  position: relative;
  height: 115px;
  width: 400px;
  overflow: hidden;
  margin:0px;
  padding:0px;
}
ul.sc_menu {
  display: block;
  height: 110px;
  width: 1500px;
  padding: 10px 0px 0px 10px;
  margin: 0px;
  background-color:#F5F5F5;
  list-style: none;
}
.sc_menu li {
  display: block;
  float: left;
  padding: 2px;
}
.sc_menu a {
  display: block;
  text-decoration: none;
}






.sc_menu_div{background-repeat:no-repeat;width:78px;height:78px;display: block;float:left}

.sc_menu_div a img{
width:76px;
height:76px;
margin:0px;
}

.sc_menu_div a img {
  border: 2px #F5F5F5 solid;
}
.sc_menu_div a:hover img {
border: 2px #0c7a94 solid;
}


.seller_list a{font: 13pt Arial}
.seller_menu{margin-bottom:10px;padding-top:3px;clear:both}
.seller_menu a{padding:5px}
.seller_menu a:hover{padding:5px;background-color:#168da9;text-decoration:none;color:#FFFFFF}
.seller_menu a.seller_menu_active{padding:5px;background-color:#168da9;text-decoration:none;color:#FFFFFF}

.seller_list span
{
font: 9pt Arial;
color: #b8babc;
font-weight:bold;
}





.catbox{padding-bottom:25px;padding-right:60px}
.cat1 a
{
font:16pt Arial;
font-weight:bold;
border-bottom-color:#bfbfbf;border-bottom-style:dashed;border-bottom-width:1px;
text-decoration:none;
}
.cat1 a:hover
{
font:16pt Arial;
font-weight:bold;
border-bottom-color:#bfbfbf;border-bottom-style:dashed;border-bottom-width:1px;
text-decoration:none;
color:#0a82aa;
}

.cat2
{
padding-top:7px;
padding-left:17px;
background:url('images/s16.gif');
background-repeat:no-repeat;
}

.cat2 a
{
font:11pt Arial;
color:#bfbfbf;
}
.cat2 a:hover
{
font:11pt Arial;
color:#bfbfbf;
}





.rating
{
float:left;
margin:0px 2px 0px 0px;
}


.hover_string
{
background:url(images/transparent.png);
padding: 8px 15px 8px 15px
}


.hover_string p
{
font: 13pt Arial;
font-weight:bold;
color:#FFFFFF;
padding:0px;
margin:0px;
}

.hover_string span
{
font: 10pt Arial;
font-weight:bold;
color:#FFFFFF;
padding:0px;
margin:0px;
}

















#smoothmenu
{
z-index:100000000;
padding-left:20px;
}


.ddsmoothmenu{
font: bold 12px Verdana;
background: #333333; /*background of menu bar (default state)*/
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
background: #333333; /*background of menu items (default state)*/
color: white;
padding: 6px 10px 4px;
border-left: 1px dotted #4b4b4b;
color: #2d2b2b;
text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #404040; 
color: white;
}

.ddsmoothmenu ul li a:hover{
background:#404040; /*background of menu items during onmouseover (hover state)*/
color: white;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
width: 160px; /*width of sub menus*/
padding: 6px 10px 4px;
margin: 0;
border-top-width: 0;
border-bottom: 1px dotted #4b4b4b;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 9px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}






.table_cart
{
width:400px;
margin-top:10px;
margin-bottom:10px;
}

.table_cart td
{
font: 9pt Arial;
padding:6px 0px 6px 6px;
color: #424242;
cursor:pointer;
}

.table_cart th
{
font: 9pt Arial;
padding:4px 0px 4px 6px;
color: #424242;
font-weight:bold;
border-bottom: 1px #e0e0e0 solid;
}

.table_cart tr.tr_cart:hover
{
background-color:#f5f5f5;
}


.tr_cart_active,.tr_cart_active:hover
{
background-color:#dfdede;
}


.table_cart2
{
width:650px;
margin-top:10px;
margin-bottom:10px;
border: 1px #d6d5d5 solid;
border-radius:6px;
}

.table_cart2 a
{
font-size:14px;
}

.table_cart2 td
{
font: 9pt Arial;
padding:15px 15px 20px 15px;
color: #424242;
padding:10px 0px 10px 15px;
border-bottom: 1px #eeeeee solid;
}

.table_cart2 th
{
font: 13px Arial;
padding:10px 0px 10px 15px;
color: #4f4f4f;
font-weight:bold;
border-bottom: 3px #c5c3c3 solid;
background-color:#dfdddd;
text-shadow: 1px 1px 1px #FFFFFF;
}

.table_cart2 tr.tr_cart
{
background-color:#ffffff;
}

.table_cart2 tr.total
{
background-color:#ebe9e9;
}

.table_cart2 tr.total td,.table_cart2 tr.total td span.price
{
font:15px Arial;
}

.table_cart2 select
{
padding:2px;
border: 1px #c7c9c7 solid;
color:#4b4a4a;
}




.table_cart td span,.table_cart2 td span
{
padding-left:0px;
}

.table_cart2 td div.gr,.gr
{
color: #b3b4b4;
font: 12px Arial;
padding-top:3px;
}

.table_cart2 td div.ttl
{
color: #7d7c7c;
font: 12px Arial;
padding-bottom:2px;
}



.tabs_border
{
width:800px;
padding:15px;
border: 1px #c0bfbf solid;
background:#FFFFFF;
clear:both;
}


#tabs_menu_content
{
clear:both;
padding-top:15px;
}


#tabs_menu {
margin:0px;
padding:0px 0px 3px 0px;
clear:both;
}

#tabs_menu ul {
list-style: none;
padding:0px;
margin:0px
}

#tabs_menu li {
display:inline;
padding:0px;
margin:0px;
}

#tabs_menu li a,#tabs_menu li a:visited {
float: left;
padding: 5px 7px 5px 7px;
text-decoration:none;
background-color:#a3a3a3;
margin-right:5px;
margin-bottom:5px;
color:#FFFFFF;
font-weight:bold;
}

#tabs_menu li a:hover {
text-decoration:none;
background-color:#b7b6b6;
color:#FFFFFF;
font-weight:bold;
}





#tabs_menu li.activno a,#tabs_menu li.activno a:visited {
float: left;
padding: 5px 7px 5px 7px;
text-decoration:none;
background-color:#bb1d4e;
margin-right:5px;
color:#FFFFFF;
font-weight:bold;
}

#tabs_menu li.activno a:hover {
text-decoration:none;
background-color:#ab2b52;
color:#FFFFFF;
font-weight:bold;
}

















.xitem{margin-bottom:3px;}

#share
{
width:120px;
}

#share img
{
margin:5px;
}

#languages_lite
{
padding:7px 10px 9px 10px;
z-index:10000000;
border-left: 1px dotted #4b4b4b;
border-right: 1px dotted #4b4b4b;
white-space: nowrap;
}

#languages_lite2
{

}


#languages_lite a:link,#languages_lite a:hover,#languages_lite a:visited
{
color:#FFFFFF;
font:12px Arial;
text-decoration:none;
}

#languages_lite a:hover
{
color:#cecece;
}



#languages_lite2 ul,.lang_box ul
{
list-style-type: none;
list-style-image: none;
margin:0px;
padding:10px;
}

#languages_lite2 ul li,.lang_box ul li
{
margin:2px 10px 2px 0px;
padding:3px 0px 3px 4px;
float:left;
width:150px;
}

#languages_lite2 ul li:hover,.lang_box ul li:hover
{
background-color:#F5F5F5
}


#languages_lite2 li a,#languages_lite2 li a:visited,#languages_lite2 li a:hover,.lang_box li a,.lang_box li a:visited,.lang_box li a:hover
{
color:#237496;
text-decoration:none;
font: 8pt Arial;
}



#languages_lite2 img,.lang_box img
{
margin: 3px 7px 0px 0px;
border: #3e3e3e 1px solid;
width:18px;
height:12px;
}

.home_box_right
{
background-color:#FFFFFF;
border: #e8e9e9 2px solid;
padding:10px;
border-style: dashed;
}

#stats_mobile
{
margin:0px 30px 0px 30px
}


#favorite
{
display:inline;
}

#downloadsample
{
display:inline;
padding-left:21px;
background:url('images/a9.gif');
background-repeat:no-repeat;
}

.line
{
background:url('images/a10.gif');
background-repeat:repeat-x;
margin-top:10px;
height:1px;
width:100%;
margin-bottom:5px
}


.file_image
{
float:left;
margin-right:30px;
width:400px;
text-align:center;
}

.file_links
{
margin-top:10px;
text-align:center;
}

.file_price
{
float:left;
padding-top:8px;
}

.file_price span
{
padding-left:30px;
}

.file_bottom
{
clear:both;
padding-top:40px;
}

.file_related
{
float:left;
margin-right:30px;
width:400px;
}


.file_related div
{
clear:both;
}

.file_details
{
float:left;
margin-right:40px;
width:200px;
}

.file_details span,.file_tools span
{
padding-bottom:3px;
display:block;
}

.file_tools
{
float:left;
}

.file_clear
{
clear:both;
width:30px;
}

.vertical_line{background:url('images/s15.gif');background-repeat:repeat-x}


#map
{
width:400px;
height:300px;
}


#profile_menu ul
{
list-style-type: none;
list-style-image: none;
margin:0px 15px 0px 3px;
padding:0px;
clear:both;
}

#profile_menu ul li
{
margin:0px 0px 0px 0px;
padding:5px 5px 5px 30px;
}

#profile_menu ul ul li
{
margin:1px 0px 0px 0px;
padding:5px;
}

#profile_menu ul li:hover
{
background-color:#f5f5f5
}


#profile_menu li a,#profile_menu li a:visited,#profile_menu li a:hover
{
color:#000000;
text-decoration:none;
font: 12px Lucida Grande,Arial;
}


#profile_menu ul ul
{
margin:0px 0px 0px 25px;
}

#profile_menu ul ul li.activno
{
background-color:#f5f5f5;
}

#profile_menu ul li div
{
display:inline;
float:right;
color:#3b60b9;
background-color:#f5f5f5;
padding:2px;
font: 11px Lucida Grande,Arial;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
}



#profile_menu ul li.activno
{
background-color:#f5f5f5;
}

#profile_menu li.activno a,#profile_menu li.activno a:visited,#profile_menu li.activno a:hover
{
color:#000000;
text-decoration:none;
font: 12px Lucida Grande,Arial;
font-weight:bold;
}


#profile_photo img
{
margin-bottom:20px;
float:left;
margin-right:10px;
margin-left:5px;
}

#profile_photo span
{
padding-top:3px;
display:block;
}

#profile_photo a
{
font: 12px Lucida Grande,Arial;
}

#profile_photo span a
{
font: 10px Lucida Grande,Arial;
}

.profile_left
{
padding-right:15px;
margin-left:20px;
}

#profile_menu_top
{
height:12px;
background-color:#f9f9f9;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-top: 1px #f5f5f5 solid;
border-left: 1px #f5f5f5 solid;
border-right: 1px #f5f5f5 solid;
color:#3c3c3c;
}

#profile_menu
{
background-color:#f9f9f9;
border-left: 1px #f5f5f5 solid;
border-right: 1px #f5f5f5 solid;
color:#3c3c3c;
padding:0px 15px 0px 15px;
}

#profile_menu_bottom
{
background-color:#f9f9f9;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
height:12px;
border-bottom: 1px #f5f5f5 solid;
border-left: 1px #f5f5f5 solid;
border-right: 1px #f5f5f5 solid;
color:#3c3c3c;
}



.profile_right
{
padding:15px;
background:#FFFFFF;
}

.profile_right h1
{
font: 16px Lucida Grande,Arial;
font-weight:bold;
margin-bottom:25px;
}

.profile_right table
{
border:0px;
padding:0px;
margin:0px;
}



table.profile_table
{
margin-top:10px;
margin-bottom:10px;
border: 1px #d6d5d5 solid;
border-radius:6px;
}

table.profile_table th
{
font: 13px Arial;
padding:10px 10px 10px 15px;
color: #4f4f4f;
font-weight:bold;
border-bottom: 3px #c5c3c3 solid;
background-color:#dfdddd;
text-shadow: 1px 1px 1px #FFFFFF;
}

table.profile_table th a:link,table.profile_table th a:visited
{
color:#595858;
}

table.profile_table th a:hover
{
color:#727171;
}

table.profile_table tr
{
background-color:#ffffff;
}

table.profile_table tr.snd
{
background-color:#f5f5f5;
}





table.profile_table td
{
font: 9pt Arial;
padding:15px 15px 20px 15px;
color: #424242;
padding:10px 10px 10px 15px;
border-bottom: 1px #eeeeee solid;
}


table.profile_table tr.total
{
background-color:#ebe9e9;
}






.profile_separator
{
margin-top:10px;
margin-bottom:10px;
border-bottom: 1px #eeeeee solid;
}

.profile_content
{
background-color:#f8f8f8;
padding:15px;
}




/* Version 11.11 - new styles */

.login_header
{
border-bottom: 1px #a3a4a7 dotted;
margin-bottom:15px;
}

.login_header h2
{
margin:0px 0px 3px 0px;
}

.form_field
{
margin-bottom:15px;
}

.form_field span
{
margin-bottom:3px;
display:block;
}

table.payment_table
{
width:100%;
border: 1px #d6d5d5 solid;
border-radius:6px;
}

table.payment_table tr
{
background-color:#ffffff;
}

table.payment_table td
{
font: 9pt Arial;
padding:15px 15px 20px 15px;
color: #424242;
padding:10px 0px 10px 15px;
border-bottom: 1px #eeeeee solid;
}

table.payment_table th
{
font: 13px Arial;
padding:10px 0px 10px 15px;
color: #4f4f4f;
font-weight:bold;
border-bottom: 3px #c5c3c3 solid;
background-color:#dfdddd;
text-shadow: 1px 1px 1px #FFFFFF;
}

table.payment_table tr
{
vertical-align: top;
}

table.payment_table2
{
width:100%;
}

table.payment_table2 td
{
padding:0px 0px 11px 0px;
border:0px;
}






/* End. Version 11.11 - new styles */





/* Version 12.05 - new styles */

#fadeshow1
{
margin:0px 0px 45px 0px;
}

.share_box
{
margin:10px 0px 0px 0px;
float:left;
}

.editorial
{
background-color:#f2b7b7;
padding:10px;
border-radius: 4px;
color:#672929;
font:12px Arial;
}

/* End. Version 12.05 - new styles */






/* Version 12.05 - new styles */

#fadeshow1
{
margin:0px 0px 45px 0px;
}

.share_box
{
margin:10px 0px 0px 0px;
float:left;
}

.editorial
{
background-color:#f2b7b7;
padding:10px;
border-radius: 4px;
color:#672929;
font:12px Arial;
}

.search_left
{
padding-left:15px;
padding-right:15px;
}

.search_left_top
{
height:12px;
background-color:#f6f6f6;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-top: 1px #f5f5f5 solid;
border-left: 1px #f5f5f5 solid;
border-right: 1px #f5f5f5 solid;
color:#3c3c3c;
}

.search_left_body
{
background-color:#f6f6f6;
border-left: 1px #f5f5f5 solid;
border-right: 1px #f5f5f5 solid;
color:#3c3c3c;
}

.search_left_bottom
{
background-color:#f6f6f6;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
height:12px;
border-bottom: 1px #f5f5f5 solid;
border-left: 1px #f5f5f5 solid;
border-right: 1px #f5f5f5 solid;
color:#3c3c3c;
}

.search_title
{
padding:2px 0px 3px 15px;
font:12px Arial;
font-weight:bold;
color:#404040;
}

.search_title2
{
padding:0px 0px 2px 0px;
font:12px Arial;
color:#565656;
}

.search_title3
{
padding:2px 0px 10px 15px;
font:12px Arial;
font-weight:bold;
color:#404040;
background:url('images/search_arrow.gif');
background-repeat:no-repeat;
background-position:top right;
margin-right:10px;
cursor:pointer;
}

.search_title4
{
padding:2px 0px 10px 15px;
font:12px Arial;
font-weight:bold;
color:#404040;
background:url('images/search_arrow.gif');
background-repeat:no-repeat;
background-position:bottom right;
margin-right:10px;
cursor:pointer;
}


.search_text
{
padding:0px 0px 15px 15px;
}

.search_text2
{
padding:0px 0px 13px 0px;
}

.search_sub
{
background-color:#eeecec;
margin:0px 15px 8px 15px;
padding:10px 5px 0px 13px;
border-radius:3px;
font:11px Arial;
}

.search_right
{	
padding-left:0px;
}

.ibox2 {
font: 12px Arial;
padding:6px;
border:#e3e3e3 solid 1px;
background: #FFFFFF;
border-radius:0px;
}
.ibox2:focus {
border:#000000 solid 1px;
} 

.search_header_mobile
{
height:30px;
}


#search_header
{
height:70px;
border-bottom: 1px #b3b3b3 dotted;
margin:15px 30px 20px 0px;
}

#search_header2
{
clear:both;
}

#search_header2 div
{
float:left;
margin-right:15px;
}

#search_flow_menu,#search_autopaging_menu
{
padding-top:8px;
}

#search_flow_menu input,#search_autopaging_menu input
{
margin: -3px 5px 0px 0px;
}

#search_footer
{
clear:both;
height:34px;
border-top: 1px #b3b3b3 dotted;
margin:10px 30px 0px 0px;
padding-top:5px;
}

#search_paging,#search_paging2
{
float:right;
margin-top:10px;
}



.search_left ul
{
list-style-type: none;
list-style-image: none;
margin: 0px;
padding:0px;
}

.search_left ul li
{
display:block;
padding:3px;
width:130px;
}


.search_left a:link,.search_left a:hover,.search_left a:visited
{
text-decoration:none;
color:#0a82aa;
font:11px Arial;
}

.search_line
{
height:12px;
border-top: 1px #b3b3b3 dotted;
margin:4px 15px 0px 15px;
}

.search_line2
{
height:5px;
border-bottom: 1px #b3b3b3 dotted;
margin-bottom:5px;
}

.color_set
{
padding-top:5px;
}

.box_color
{
padding:1px 5px 0px 5px;
display:inline;
margin:0px 1px 0px 1px;
cursor:pointer;
}

.box_color2
{
padding:1px 5px 0px 5px;
display:inline;
margin:0px;
border: #000000 1px solid;
cursor:pointer;
}

.box_slider
{
position:relative;
margin:10px 0px 0px 0px;
width:150px;
height:20px;
}

.box_slider2
{
position:absolute;
top:12px;
left:0px;
font:11px Arial;
color:#acabac;
}

.box_slider3
{
position:absolute;
top:12px;
right:0px;
font:11px Arial;
color:#acabac;
}

#search_current
{
border: #c5c5c5 3px solid;
background-color:#FFFFFF;
padding:10px;
margin:0px 15px 15px 15px;
}

#search_header h1
{
font:16px Arial;
font-weight:bold;
color:#404040;
}

#search_header h1 span
{
font:13px Arial;
font-weight:bold;
color:#636363;
}



#search_keywords
{
position:relative;
width:170px;
height:29px;
background:url('images/search_bg.gif');
background-repeat:no-repeat;
}

.ibox3 {
position:absolute;
left:1px;
top:1px;
font: 12px Arial;
padding:0px;
border:0px;
color:#636363;
width:130px;
}

.ibox3_submit {
position:absolute;
left:150px;
top:0px;
border:0px;
background:none;
width:20px;
height:27px;
cursor:pointer;
}

#search_keywords input
{
border:0px;
border-radius:0px;
line-height:15px;
background:none;
box-shadow: none;
}

.search_current_kw
{
margin-bottom:3px;
clear:both;
color:#636363;
font: 11px Arial;
}

.search_current_kw_title
{
margin-bottom:3px;
clear:both;
color:#636363;
font: 11px Arial;
font-weight:bold;
}

.search_current_delete
{
float:right;
border:0px;
background:none;
width:11px;
height:11px;
background:url('images/search_delete.png');
background-repeat:no-repeat;
background-position:top left;
cursor:pointer;
margin-top:2px;
}

.search_current_delete:hover
{
background:url('images/search_delete.png');
background-repeat:no-repeat;
background-position:bottom left;
}

.search_checkbox
{
margin-bottom:3px;
}

.search_checkbox input
{
margin-right:7px;
}


/*
 * jQuery UI Slider 1.8.18
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }

.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; background:url('images/slider3.png');
background-repeat:repeat-x;}



.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 14px; height:14px; cursor: default; 
background:url('images/slider2.png');
background-repeat:no-repeat;
border:0px;
}


.ui-slider-horizontal 
{ 
height: 6px; 
width:150px;
background:url('images/slider.png');
background-repeat:repeat-x;
}

.ui-slider-horizontal .ui-slider-handle { top: -5px; margin-left: -7px;}
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 3px; }
.ui-slider-horizontal .ui-slider-range-max { right: 3px; }




#instant_search
{
position:absolute;
top:31px;
left:6px;
background-color:#ffffff;
border: #bfbfbf 1px solid;
z-index:100000000000000000000;
width:287px;
display:none;
}

.instant_search_result
{
padding:5px 10px 5px 10px;
cursor:pointer;
}

.instant_search_result:hover
{
background-color:#f5f5f5;
}


.instant_search_result span
{
color:#4775a8;
}





.portfolio_left
{
padding:15px 0px 15px 0px;
background-color:#f6f6f6;
border-radius: 8px;
border: 1px #f5f5f5 solid;
color:#3c3c3c;
margin-left:15px;
}

.portfolio_right
{
padding-left:25px;
}

.portfolio_left img
{
margin:0px 0px 10px 15px;
border: 1px #dfdede solid;
}

.portfolio_right h1
{
margin:0px 0px 15px 0px;
font:20px Arial;
}

.portfolio_title
{
margin:2px 15px 10px 15px;
font:12px Arial;
font-weight:bold;
color:#404040;
border-bottom: #c5c5c5 1px dotted;
padding-bottom:6px;
}



.portfolio_box
{
margin:0px 15px 20px 15px;
font:11px Arial;
}

.portfolio_box div
{
margin-bottom:3px;
}

.tabs_border2
{
margin-top:15px;
border-top: #c5c5c5 1px dotted;
padding-top:10px;
width:680px;
clear:both;
}


/* End. Version 12.05 - new styles */














/*New styles for Version 12.10*/


table.profile_table_home
{
width:600px;
margin:0px 10px 0px 10px
}


table.profile_table_home th
{
padding:10px;
font:13px Arial;
font-weight:bold;
}


table.profile_table_home tr
{

}



table.profile_table_home td
{
padding:10px;
border-top: 1px #d7d7d7 dotted;
background-color:#f2f2f2;
}

.profile_home_preview
{
width:50px;
height:50px;
border: 1px #787879 solid;
background-size:cover;
cursor:pointer;
}

/*End. New styles for Version 12.10*/




/* Version 13.04 - new styles */


.home_box
{
margin:0px 13px 10px 0px;
width:210px;
font:11px Arial;
color:#a3a3a3;
}

.category_box
{
margin:0px 5px 10px 0px;
width:140px;
font:11px Arial;
color:#a3a3a3;
}

.home_box img,.category_box img
{
border:0px;
margin-bottom:15px;
}

.home_box span,.category_box span
{
display:block;
padding-bottom:10px;
}

.home_box span a:link,.home_box span a:hover,.home_box span a:visited,.category_box span a:link,.category_box span a:hover,.category_box span a:visited
{
color:#716366;
text-decoration:none;
font:13px Arial;
}

.home_box span a:hover,.category_box span a:hover
{
color:#d02e3d;
}



/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/colorbox/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:14px; height:14px; background:url(images/colorbox/controls.png) no-repeat -100px 0;}
    #cboxTopRight{width:14px; height:14px; background:url(images/colorbox/controls.png) no-repeat -136px 0;}
    #cboxBottomLeft{width:14px; height:14px; background:url(images/colorbox/controls.png) no-repeat -100px -36px;}
    #cboxBottomRight{width:14px; height:14px; background:url(images/colorbox/controls.png) no-repeat -136px -36px;}
    #cboxMiddleLeft{width:14px; background:url(images/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:14px; background:url(images/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:14px; background:url(images/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:14px; background:url(images/colorbox/border.png) 0 -36px repeat-x;}
    #cboxContent{background:#FFFFFF;overflow:visible;}
        .cboxIframe{background:#FFFFFF;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:0px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(images/colorbox/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(images/colorbox/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(images/colorbox/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/colorbox/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:0; right:0; background:url(images/colorbox/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(images/colorbox/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(images/colorbox/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(images/colorbox/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(images/colorbox/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(images/colorbox/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(images/colorbox/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(images/colorbox/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(images/colorbox/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}



#home_boxes
{
position:relative;
clear:both;
}


#home_boxes_menu
{
position:absolute;
background-color:#fe8605;
display:none;
z-index:2;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
-moz-opacity: 0.6;
-khtml-opacity: 0.6;
opacity: 0.6;
}


.home_box ul  
{
list-style-type: none;
list-style-image: none;
margin:0px 0px 5px 10px;
padding:0px;
float:right;
}

.home_box li
{ 
display: block;
float: left;
cursor:pointer;
}

.home_box li.hb_cart
{ 
width:24px;
height:17px;
background:url('images/c9_cart.png');
background-repeat:no-repeat;
margin-right:7px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}


.home_box li.hb_cart2
{ 
width:24px;
height:17px;
background:url('images/c9_cart2.png');
background-repeat:no-repeat;
margin-right:7px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}

.home_box li.hb_lightbox
{ 
width:19px;
height:17px;
background:url('images/c10_lightbox.png');
background-repeat:no-repeat;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}

.home_box li.hb_free
{ 
width:19px;
height:19px;
background:url('images/c10_free.png');
background-repeat:no-repeat;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
margin-right:7px;
}


#lightbox_menu_error
{
position:fixed;
display:none;
background-color:#fd0f03;
z-index:10000;
padding:10px;
text-align:center;
font:13px Arial;
color:#FFFFFF;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
-moz-opacity: 0.9;
-khtml-opacity: 0.9;
opacity: 0.9;
}

#lightbox_menu_ok
{
position:fixed;
display:none;
background-color:#41b535;
z-index:10000;
padding:10px;
text-align:center;
font:13px Arial;
color:#FFFFFF;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
-moz-opacity: 0.9;
-khtml-opacity: 0.9;
opacity: 0.9;
}

#lightbox_content
{
border-left: 1px #e3e3e3 solid;
border-right: 1px #e3e3e3 solid;
padding:15px;
}

#lightbox_content input[type="text"],#lightbox_content input[type="password"],#lightbox_content select
{
padding:2px;
border: 1px #c7c9c7 solid;
color:#8f908f;
}

#lightbox_content h2
{
margin:4px 0px 10px 0px;
font:14px Arial;
color:#727171;
}

#lightbox_content div.param
{
margin:0px 0px 10px 0px;
}

#lightbox_header
{
padding:11px 10px 13px 15px;
background-color:#2b2a2a;
color:#FFFFFF;
font:14px Arial;
background:url('images/a12.gif');
background-repeat:repeat-x;
border-top: 1px #444444 solid;
border-right: 1px #444444 solid;
border-left: 1px #444444 solid;
}

#lightbox_footer
{
padding:13px 15px 13px 15px;
background-color:#f5f5f5;
border: 1px #e3e3e3 solid;
}





.lightbox_button{
font:12px Arial;
letter-spacing: 0.5px;
padding:4px 10px 3px 10px;
background-color:#0c7a94;
background:url('images/button_red.gif') left top repeat-x;
border: 1px double #c34641;
color: #FFFFFF;
border-radius: 4px;
text-shadow: 0px -1px 1px #676767;
cursor:pointer;
}

.lightbox_button:hover{
background:url('images/button_red.gif') 0px -35px repeat-x;
}


.lightbox_button2{
float:right;
font:12px Arial;
letter-spacing: 0.5px;
padding:4px 10px 3px 10px;
background-color:#0c7a94;
background:url('images/button_blue.gif') left top repeat-x;
border: 1px double #2e82b8;
color: #FFFFFF;
border-radius: 4px;
text-shadow: 0px -1px 1px #676767;
cursor:pointer;
}

.lightbox_button2:hover{
background:url('images/button_blue.gif') 0px -35px repeat-x;
}







.subheader
{
padding:10px;
font: 16px Arial;
color:#545454;
background-color:#e3e2e2;
background:url('images/c11.gif');
background-repeat:repeat-x;
border: 1px #d7d5d5 solid;
margin-bottom:15px;
clear:both;
border-radius:4px;
text-shadow: 1px 1px 1px #FFFFFF;
}

.subheader a:link,.subheader a:hover,.subheader a:visited
{
text-decoration:none;
color:#545454;
border-bottom: 1px #42433e dashed;
}

.subheader_text
{
padding:10px;
margin-bottom:20px;
}





a.link_pixels:link,a.link_pixels:hover,a.link_pixels:visited
{
color:#ffffff;
font:12px Arial;
padding:1px 5px 1px 5px;
background-color:#8f8f8e;
text-decoration:none;
border-radius:2px;
}

a.link_inches:link,a.link_inches:hover,a.link_inches:visited
{
color:#8f8f8e;
font:12px Arial;
padding:1px 5px 1px 5px;
background-color:#cbcbca;
text-decoration:none;
border-radius:2px;
}

/*Styles for jquery uploader*/
.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{background-color:#f9f9f9;}
.table-hover tbody tr:hover td,.table-hover tbody tr:hover th{background-color:#f5f5f5;}
/*End. Styles for jquery uploader*/




#icons_preview
{
background:url('images/icons/preview.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_testimonials
{
background:url('images/icons/testimonials.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_comments
{
background:url('images/icons/comments.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_blog
{
background:url('images/icons/blog.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_messages
{
background:url('images/icons/messages.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_friends
{
background:url('images/icons/friends.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_lightbox
{
background:url('images/icons/lightbox.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_partner
{
background:url('images/icons/partner.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_commission
{
background:url('images/icons/commission.png');
background-repeat:no-repeat;
background-position:2px 3px;
}


#icons_models
{
background:url('images/icons/models.png');
background-repeat:no-repeat;
background-position:2px 3px;
}


#icons_publications
{
background:url('images/icons/publications.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_upload
{
background:url('images/icons/upload.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_downloads
{
background:url('images/icons/downloads.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_orders
{
background:url('images/icons/orders.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_credits
{
background:url('images/icons/credits.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_subscription
{
background:url('images/icons/subscription.png');
background-repeat:no-repeat;
background-position:2px 3px;
}

#icons_coupons
{
background:url('images/icons/coupons.png');
background-repeat:no-repeat;
background-position:2px 3px;
}


.white_bl {background: url(images/white_bl.gif) 0 100% no-repeat;}
.white_br {background: url(images/white_br.gif) 100% 100% no-repeat}
.white_tl {background: url(images/white_tl.gif) 0 0 no-repeat}
.white_tr {background: url(images/white_tr.gif) 100% 0 no-repeat; padding:10px}
.white_t {background: url(images/white_border_t.gif) 0 0 repeat-x;background-color:#f2f2f2;display:table;margin-left:-10px}
.white_b {background: url(images/white_border_b.gif) 0 100% repeat-x}
.white_l {background: url(images/white_border_l.gif) 0 0 repeat-y}
.white_r {background: url(images/white_border_r.gif) 100% 0 repeat-y}

.bl {background: url(images/white_bl.gif) 0 100% no-repeat;}
.br {background: url(images/white_br.gif) 100% 100% no-repeat}
.tl {background: url(images/white_tl.gif) 0 0 no-repeat}
.tr {background: url(images/white_tr.gif) 100% 0 no-repeat; padding:10px 10px 10px 10px}
.t {background: url(images/white_border_t.gif) 0 0 repeat-x;background-color:#f2f2f2;display:table;}
.b {background: url(images/white_border_b.gif) 0 100% repeat-x}
.l {background: url(images/white_border_l.gif) 0 0 repeat-y}
.r {background: url(images/white_border_r.gif) 100% 0 repeat-y}


.tr2 {background: url(images/white_tr.gif) 100% 0 no-repeat; padding:10px 10px 10px 10px}



.link_order
{
background:url('images/icons/link_order.png');
background-repeat:no-repeat;
padding:0px 0px 6px 30px;
}

.link_order a:link,.link_order a:hover,.link_order a:visited
{
font:14px Arial;
}

.link_date
{
background:url('images/icons/link_date.png');
background-repeat:no-repeat;
padding:4px 0px 0px 30px;
color:#949494;
}

.link_total
{
background:url('images/icons/link_total.png');
background-repeat:no-repeat;
padding:4px 0px 6px 30px;
}


.link_approved
{
background:url('images/icons/link_approved.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
color:#7fbb65;
}

.link_pending,.link_notshipped
{
background:url('images/icons/link_pending.png');
background-repeat:no-repeat;
padding:4px 0px 6px 30px;
color:#cb4040;
}

.link_payment
{
background:url('images/icons/link_payment.png');
background-repeat:no-repeat;
padding:4px 0px 3px 25px;
color:#7fbb65;
}

.link_message
{
background:url('images/icons/link_message.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_edit
{
background:url('images/icons/link_edit.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_delete
{
background:url('images/icons/link_delete.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_comments
{
background:url('images/icons/link_comments.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_status
{
background:url('images/icons/link_status.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_commission
{
background:url('images/icons/link_commission.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_download
{
background:url('images/icons/link_download.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_lightbox
{
background:url('images/icons/link_lightbox.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_credits
{
background:url('images/icons/link_credits.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_payout
{
background:url('images/icons/link_payout.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_files
{
background:url('images/icons/link_files.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_coupon
{
background:url('images/icons/link_coupon.png');
background-repeat:no-repeat;
padding:4px 0px 3px 30px;
}

.link_subscription
{
background:url('images/icons/link_subscription.png');
background-repeat:no-repeat;
padding:0px 0px 6px 30px;
}

.link_subscription a:link,.link_subscription a:hover,.link_subscription a:visited
{
font:14px Arial;
}


.checkoutbox
{
padding:10px;
font: 16px Arial;
color:#545454;
background-color:#e3e2e2;
background:url('images/c11.gif');
background-repeat:repeat-x;
border: 1px #d7d5d5 solid;
clear:both;
border-radius:4px;
text-shadow: 1px 1px 1px #FFFFFF;
}



.checkoutbox_text
{
padding:15px 10px 10px 10px;
background-color:#FFFFFF;
margin-bottom:20px;
border-bottom-right-radius:6px;
border-bottom-left-radius:6px;
border-left: 1px #efeeee solid;
border-right: 1px #efeeee solid;
border-bottom: 1px #efeeee solid;
}

.checkoutbox2
{
margin: 0px 20px 15px 0px;
}

.checkoutbox2_title
{
background-color:#6c6c6c;
background:url('images/c12.gif');
background-repeat:repeat-x;
padding:10px;
font: 14px Arial;
color:#FFFFFF;
border-top-right-radius:6px;
border-top-left-radius:6px;
text-shadow: 1px 1px 1px #808080;
}

.checkoutbox2_text
{
border-left: 1px #dfdede solid;
border-right: 1px #dfdede solid;
border-bottom: 1px #dfdede solid;
background-color:#FFFFFF;
background:url('images/c13.gif');
background-repeat:repeat-x;
border-bottom-right-radius:6px;
border-bottom-left-radius:6px;
}

.checkoutbox_text h2
{
font: 15px Arial;
color:#232323;
}

.checkout_line
{
margin:0px 10px 0px 10px;
border-top: 1px #c5c5c5 dotted;
}

.checkout_list
{
padding:10px;
}

.checkoutbox2_bottom
{
padding:12px 10px 12px 10px;
background-color:#f5f5f5;
border-bottom-right-radius:6px;
border-bottom-left-radius:6px;
}

.checkoutbox2_bottom a
{
	color:#2e7cae
}

.price_license input
{
margin-top:-3px
}

.price_license label
{
font: 12px Arial;
display:inline;
}


/* End. Version 13.04 - new styles */

.clear_padding
{
padding:0px;
margin:0px;
}
