    </div>
    <div class="row-fluid">
    	<div class="span12">
    		<div id="footer">
				<ul>
					<li><a href="{SITE_ROOT}">{lang.Home}</a>&nbsp;|&nbsp;</li>
					<li><a href="{SITE_ROOT}pages/about.html">{lang.About}</a>&nbsp;|&nbsp;</li>
					<li><a href="{SITE_ROOT}news/">{lang.News}</a>&nbsp;|&nbsp;</li>
					<li><a href="{SITE_ROOT}contacts/">{lang.Contacts}</a></li>
					<li class="visible-phone" >&nbsp;|&nbsp;<a href="{SITE_ROOT}members/languages_list.php">{lang.languages}</a></li>
				</ul>
				<div style='clear:both;'>
					Copyright &copy; 2013 Photo Video Store - {lang.All rights reserved}.
				</div>
			</div>
    	</div>
    </div>
    
</div>
</body>
</html>



