<ul>
	<li class="first"><a href='{SITE_ROOT}members/profile.php'>{lang.My profile}</a></li>

	{if credits}
		<li class="hidden-phone hidden-tablet"><b>{lang.Balance}:</b> {BALANCE}</li>
	{/if}

	<li><a href='{SITE_ROOT}members/logout.php'>{lang.Logout}?</a></li>
</ul>