<ul class="menu_members">
	<li><a href='{SITE_ROOT}members/profile.php'>{WORD_PROFILE}</a></li>

	{if credits}
		<li class='hidden-phone'><b>{WORD_BALANCE}:</b> {BALANCE}</li>
	{/if}

	<li><a href='{SITE_ROOT}members/logout.php'>{WORD_LOGOUT}?</a></li>
</ul>