/* a lot of margin presets*/

.mt0 {
	margin-top: 0!important;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt25 {
	margin-top: 25px;
}
.mt30 {
	margin-top: 30px;
}
.mt35 {
	margin-top: 35px;
}
.mt40 {
	margin-top: 40px;
}
.mt45 {
	margin-top: 45px;
}
.mt50 {
	margin-top: 50px;
}
.mt55 {
	margin-top: 55px;
}
.mt60 {
	margin-top: 60px;
}
.mt65 {
	margin-top: 65px;
}
.mt70 {
	margin-top: 70px;
}
.mt75 {
	margin-top: 75px;
}
.mt80 {
	margin-top: 80px;
}
.mt85 {
	margin-top: 85px;
}
.mt90 {
	margin-top: 90px;
}
.mt95 {
	margin-top: 95px;
}
.mt100 {
	margin-top: 100px;
}

.mb0 {
	margin-bottom: 0;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb25 {
	margin-bottom: 25px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb35 {
	margin-bottom: 35px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb45 {
	margin-bottom: 45px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb55 {
	margin-bottom: 55px;
}
.mb60 {
	margin-bottom: 60px;
}
.mb65 {
	margin-bottom: 65px;
}
.mb70 {
	margin-bottom: 70px;
}
.mb75 {
	margin-bottom: 75px;
}
.mb80 {
	margin-bottom: 80px;
}
.mb85 {
	margin-bottom: 85px;
}
.mb90 {
	margin-bottom: 90px;
}
.mb95 {
	margin-bottom: 95px;
}
.mb100 {
	margin-bottom: 100px;
}

.ml0 {
	margin-left: 0!important;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.ml20 {
	margin-left: 20px;
}
.ml25 {
	margin-left: 25px;
}
.ml30 {
	margin-left: 50px;
}
.ml35 {
	margin-left: 35px;
}
.ml40 {
	margin-left: 40px;
}
.ml45 {
	margin-left: 45px;
}
.ml50 {
	margin-left: 50px;
}
.ml55 {
	margin-left: 55px;
}
.ml60 {
	margin-left: 60px;
}
.ml65 {
	margin-left: 65px;
}
.ml70 {
	margin-left: 70px;
}
.ml75 {
	margin-left: 75px;
}
.ml80 {
	margin-left: 80px;
}
.ml85 {
	margin-left: 85px;
}
.ml90 {
	margin-left: 90px;
}
.ml95 {
	margin-left: 95px;
}
.ml100 {
	margin-left: 100px;
}

.mr0 {
	margin-right: 0;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px;
}
.mr20 {
	margin-right: 20px;
}
.mr25 {
	margin-right: 25px;
}
.mr30 {
	margin-right: 50px;
}
.mr35 {
	margin-right: 35px;
}
.mr40 {
	margin-right: 40px;
}
.mr45 {
	margin-right: 45px;
}
.mr50 {
	margin-right: 50px;
}
.mr55 {
	margin-right: 55px;
}
.mr60 {
	margin-right: 60px;
}
.mr65 {
	margin-right: 65px;
}
.mr70 {
	margin-right: 70px;
}
.mr75 {
	margin-right: 75px;
}
.mr80 {
	margin-right: 80px;
}
.mr85 {
	margin-right: 85px;
}
.mr90 {
	margin-right: 90px;
}
.mr95 {
	margin-right: 95px;
}
.mr100 {
	margin-right: 100px;
}



@for $i from 1 to 100 {
	.ml#{$i} { margin-left:  #{$i}px; }
}
@for $i from 1 to 100 {
	.mr#{$i} { margin-right:  #{$i}px; }
}
/* padding left*/

@for $i from 1 to 100 {
	.pl#{$i} { padding-left:  #{$i}px!important; }
}
/* padding right*/
@for $i from 1 to 100 {
	.pr#{$i} { padding-right:  #{$i}px!important; }
}
/* padding top */
@for $i from 1 to 100 {
	.pt#{$i} { padding-top:  #{$i}px; }
}
/* padding bottom */
@for $i from 1 to 150 {
	.pb#{$i} { padding-bottom:  #{$i}px; }
}







